* {
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #f1f6fb;
	line-height: 1;
	font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
	font-smoothing: always;
	text-rendering: optimizeLegibility;
	margin: 1px;
}

div{
	margin: 1px;
}
.mainDiv {	
    padding: 0px;
    position: absolute;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justif-content: flex-start;
}

.header{
	background-color: #FFF;
	width: 100%;
	height: auto;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.headerContent{
	width: 95%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.logoDiv{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#logo{
	width: 75px;
	height: 75px;
}

.exportBttn{
	width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 0px;
    background-color: #FFD57F;
    border-color: transparent;
    color: #000;
    transition: background 0.5s ease-in-out 0s;
    
    display:inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-moz-user-select: none;
	border: 1px solid transparent;
    font-family: inherit;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    box-sizing: border-box;
}

.exportBttn:hover, .exportBttn:focus, .exportBttn:active, .exportBttn.active {
    background-color: #FFBC33;
    border-color: transparent;
    outline: none;
}

.exportBttn.active.focus, .exportBttn.active:focus, .exportBttn.active:hover, .exportBttn.focus:active, .exportBttn:active:focus, .exportBttn:active:hover {
    background-color: #FFBC33;
    border-color: transparent;
    outline: none;
}

.headerButton {
	width: 100%;
    height: 25px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: #f15f4c;
    border-color: transparent;
    color: #fff;
    transition: background 0.5s ease-in-out 0s;
    
    display:inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-moz-user-select: none;
	border: 1px solid transparent;
    font-family: inherit;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    box-sizing: border-box;
}

.headerButton:hover, .headerButton:focus, .headerButton:active, .headerButton.active {
    background-color: #f3372b;
    border-color: transparent;
    outline: none;
}

.headerButton.active.focus, .headerButton.active:focus, .headerButton.active:hover, .headerButton.focus:active, .headerButton:active:focus, .headerButton:active:hover {
    background-color: #f3372b;
    border-color: transparent;
    outline: none;
}

.navigationBar{
	width: 100%;
	padding: 10px;
	background-color: #B2B4CC;
}

.navigationBarContent{
	width: 90%;
	margin-left: 5%;
}

.pageName{
	width: 80%;
	margin: 10px;
	margin-left: 10%;
	text-align: center;
}


.botonera{
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menuButton {
	flex 1 1 auto;
    height: 25px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;
    background-color: #CC9999;
    border-color: transparent;
    color: #000;
    transition: background 0.5s ease-in-out 0s;
    
    display:inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-moz-user-select: none;
	border: 1px solid transparent;
    font-family: inherit;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    box-sizing: border-box;
}

.menuButton:hover, .menuButton:focus, .menuButton:active, .menuButton.active {
    background-color: #FF6666;
    border-color: transparent;
    outline: none;
}

.menuButton.active.focus, .menuButton.active:focus, .menuButton.active:hover, .menuButton.focus:active, .menuButton:active:focus, .menuButton:active:hover {
    background-color: #FF6666;
    border-color: transparent;
    outline: none;
}

.menuButton:disabled{
	background-color: #E5E5E5;
    border-color: transparent;
    outline: none;
}


.dataSection{
	
	background-color: #E0FFFF;
	display: block;
	padding: 5px 12px;
	
	
}

.addrSection{
	
	background: #E0FFFF;
	
	
}

	
	font-size: 12px;
    color: #FF0000;
    line-height: 16px;
    margin-bottom: 10px;
    display: block;
    box-sizing: border-box;
	
}

h3{
	
	font-size: 20px;
	text-align: center;
	padding: 5px 20px;
	background-color: #AFEEEE;
	display: block;
	clear: both;
	
	
}

h5{
	
	font-size: 16px;
	text-align: left;
	padding: 5px 12px;
	width: 20%;
	heigth: 20%;
	background-color: #FFFACD;
	display: block;
	clear: both;
	border: 1px solid;
	
}

h4{
	
	font-size: 18px;
	text-align: center;
	padding: 5px 12px;
	background-color: #ADD8E6;
	display: block;
	
}

.saveButton{
	
	font-size: 16px;
	text-align: center;
	border-radius: 3px;
	border-color: transparent;
	background-color: #f15f4c;
	touch-action: manipulation;
	cursor: pointer;
	-moz-user-select: none;
	font-family: inherit;
    text-transform: none;
    color: #fff;
    transition: background 0.5s ease-in-out 0s;
    display:inline-block;
    line-height: 1.42857143;
    white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	overflow: visible;
    box-sizing: border-box;
	
}

span{
	
    font-size: 14px;
    border-radius: 3px;
    display:block;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin: 0px;
    font-famly: inherit;
    box-sizing: border-box;
	text-rendering: optimizeLegibility;
	width: 22%;
	heigth: 20%;
	
}

h7{
	
	font-size: 24px;
	text-align: center;
	padding: 10px;
	background-color: #E0FFFF;
	display: block;
	clear: both;
	
}

h6{
	
	font-size: 16px;
	
}

input[type=text] {
	
  background-color: #FFF;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  font-size: 14px;
  border-radius: 3px;
  display:block;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  margin: 0px;
  font-famly: inherit;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  
  
}

.orcidDiv{
	padding: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.inDiv{
	padding: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#llamada{
		
	font-size: 18px;
	text-align: left;
	padding: 10px;
	background-color: #f1f6fb;
	display: block;
	clear: both;
	
}

#connect-orcid-button{
	border: 1px solid #D3D3D3;
	padding: .3em;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 3px #999;
	cursor: pointer;
	color: #999;
	font-weight: bold;
	font-size: .8em;
	line-height: 24px;
	vertical-align: middle;
}

#connect-orcid-button:hover{
	border: 1px solid #338caf;
	color: #338caf;
}

#orcid-id-icon{
	display: block;
	margin: 0 .5em 0 0;
	padding: 0;
	float: left;
}

